
<h2>About</h2>
<h3>Developer information: </h3>

<address>
    Filip Krišto<br />
    Naselje Andrija Hebrang<br />
    35000 Slavonski Brod<br />
    Croatia, Europe<br />
    <abbr title="Phone">P:</abbr>
    +385 99 4524699
</address>

<address>
    <strong>contact:</strong>   <a href="mailto:filipkristo@windowslive.com">filipkristo@windowslive.com</a><br />
</address>
