

<h2>Contacts</h2>

<div ng-controller="ContactController">

    <p>
        <a href="/#/NewContact">New Contact</a>
    </p>

    <div class="top-right">
        <input class="form-control" type="text" ng-model="SearchText" placeholder="Search contacts..." />
    </div>

    <br />

    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                PostCode
            </th>
            <th>
                City
            </th>
            <th>
                Country
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="contact in contacts">
            <td>
                {{contact.FirstName}}
            </td>
            <td>
                {{contact.LastName}}
            </td>
            <td>
                {{contact.Address}}
            </td>
            <td>
                {{contact.PostCode}}
            </td>
            <td>
                {{contact.City}}
            </td>
            <td>
                {{contact.Country}}
            </td>
            <td>
                <a data-ng-click="editContact(contact)">Edit</a>
            </td>
            <td>
                <a data-ng-click="deleteContact(contact)">Delete</a>
            </td>
        </tr>
    </table>

</div>


